<mat-card class="cart-product">
  <mat-card-title-group>
    <mat-card-title>{{item.product.name}}</mat-card-title>
    <mat-card-subtitle>{{item.product.price | currency}}</mat-card-subtitle>
    <img mat-card-lg-image [src]="item.product.url" >
  </mat-card-title-group>
  <mat-card-content>
    {{item.product.description}}

    <br>
    <mat-form-field appearance="outline" style="max-width:100px;">
      <mat-label>Amount</mat-label>
      <input matInput type="number" [(ngModel)]="item.Count">
    </mat-form-field>
  </mat-card-content>
</mat-card>
